<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS List</title>
</head>
<body>
    <h1>All SMS</h1>
    <ul>
        {% for sms in sms_list %}
            <li>
                <strong>From:</strong> {{ sms.sender }} <br>
                <strong>To:</strong> {{ sms.receiver }} <br>
                <strong>Message:</strong> {{ sms.message }} <br>
                <strong>Sent at:</strong> {{ sms.timestamp }}
            </li>
        {% empty %}
            <li>No SMS available.</li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</body>
</html>
